<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.liuhai.homemodel">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application>
        <activity android:name=".view.LHFindDetaileVideoContainer"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" ></activity>
        <activity
            android:name=".view.LHFindDeataileContainer"
            android:windowSoftInputMode="adjustPan" />
    </application>

</manifest>